---
title: films watched by year
---
<div class="year-list">
    <ul>
    {% for year in site.films reversed %}
        <li><a href="{{ year.url }}">{{ year.short-title }}</a></li>
    {% endfor %}
    </ul>
</div>
