---
layout: default
---
<div class="error">
    <h1>
        404
    </h1>
    <p>
        Are you proud of yourself? You should know better than to go looking for things that don't exist.
    </p>
</div>