---
title: quotes
---
<div class='quotes-div'>
    {% for quote in site.data.quotes %}
        <p class='quote-content'>{{quote.quote}}</p>
        <p class='quote-data'>-<span class='quote-author'>{{quote.author}}</span>{% if quote.subject %}, <span class='quote-subject'>{{quote.subject}}</span> {% endif %}</p>
    {% endfor %}
</div>