<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-body">
      &copy{{ site.time | date: "%Y" }} {{ site.author }} | powered by <a href="https://jekyllrb.com">jekyll</a> | source code available on <a href="{{   site.source-code-url  }}">{{  site.source-code-host }}</a>
    <p>
      find me on:
      {% for website in site.social %}
        <a href="{{ website.url }}{{ website.username }}"> {{ website.name }}</a>{% if forloop.last %} {% continue %} {% endif %} |
      {% endfor %}
    </p>
    </div>
  </div>
</footer>
